## Preprocessing

Run this in Google Colab

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
new_application_df = application_df.drop(columns=["EIN", "NAME"])
new_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = new_application_df.nunique(axis=0)
unique_values.head()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
ORGANIZATION         4
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning - getting the columns you need and grouping the rest to like other. 
app_values = new_application_df.value_counts(["APPLICATION_TYPE"])
app_values

APPLICATION_TYPE
T3                  27037
T4                   1542
T6                   1216
T5                   1173
T19                  1065
T8                    737
T7                    725
T10                   528
T9                    156
T13                    66
T12                    27
T2                     16
T14                     3
T25                     3
T29                     2
T15                     2
T17                     1
dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# Use the variable name `application_types_to_replace`
application_types_to_replace = list(app_values[app_values < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app,"Other")

# Check to make sure binning was successful
application_df["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_value = new_application_df.value_counts(["CLASSIFICATION"])
class_value.head(20)

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
C7000               777
C1700               287
C4000               194
C5000               116
C1270               114
C2700               104
C2800                95
C7100                75
C1300                58
C1280                50
C1230                36
C1400                34
C2300                32
C7200                32
C1240                30
dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_value[class_value < 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
x_dummies = pd.get_dummies(new_application_df)
print(x_dummies.columns)

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T12', 'APPLICATION_TYPE_T13', 'APPLICATION_TYPE_T14',
       'APPLICATION_TYPE_T15', 'APPLICATION_TYPE_T17', 'APPLICATION_TYPE_T19',
       ...
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object', length=117)

In [9]:
# Split our preprocessed data into our features and target arrays 
y = x_dummies["IS_SUCCESSFUL"].values
X = x_dummies.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [44]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_features = X_train_scaled.shape[1]
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 8)                 936

 dense_25 (Dense)            (None, 5)                 45

 dense_26 (Dense)            (None, 1)                 6

=================================================================
Total params: 987
Trainable params: 987
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=125)

Epoch 1/125
804/804 [==============================] - 2s 2ms/step - loss: 0.6229 - accuracy: 0.6932
Epoch 2/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5668 - accuracy: 0.7277
Epoch 3/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5584 - accuracy: 0.7291
Epoch 4/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5546 - accuracy: 0.7297
Epoch 5/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7308
Epoch 6/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7308
Epoch 7/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7306
Epoch 8/125
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7327
Epoch 9/125
804/804 [==============================] - 2s 3ms/step - loss: 0.5486 - accuracy: 0.7323
Epoch 10/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7313
Epoch 11/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7325
Epoch 12/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7317
Epoch 13/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7320
Epoch 14/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7330
Epoch 15/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7324
Epoch 16/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7324
Epoch 17/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7333
Epoch 18/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7329
Epoch 19/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7329
Epoch 20/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7341
Epoch 21/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7345
Epoch 22/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7344
Epoch 23/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7344
Epoch 24/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7333
Epoch 25/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7330
Epoch 26/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 27/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7332
Epoch 28/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7330
Epoch 29/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7327
Epoch 30/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7326
Epoch 31/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7332
Epoch 32/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7329
Epoch 33/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7337
Epoch 34/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7331
Epoch 35/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7336
Epoch 36/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7334
Epoch 37/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7331
Epoch 38/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7336
Epoch 39/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7326
Epoch 40/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7335
Epoch 41/125
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7338
Epoch 42/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7324
Epoch 43/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7336
Epoch 44/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7328
Epoch 45/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7344
Epoch 46/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7332
Epoch 47/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7341
Epoch 48/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7338
Epoch 49/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7343
Epoch 50/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7336
Epoch 51/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7344
Epoch 52/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7340
Epoch 53/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7347
Epoch 54/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7345
Epoch 55/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7346
Epoch 56/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7340
Epoch 57/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7338
Epoch 58/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7346
Epoch 59/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7346
Epoch 60/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7351
Epoch 61/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7346
Epoch 62/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7347
Epoch 63/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7345
Epoch 64/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7349
Epoch 65/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7348
Epoch 66/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7346
Epoch 67/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7336
Epoch 68/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7354
Epoch 69/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7356
Epoch 70/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 71/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7349
Epoch 72/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7353
Epoch 73/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7352
Epoch 74/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7346
Epoch 75/125
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7330
Epoch 76/125
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7359
Epoch 77/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7346
Epoch 78/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7352
Epoch 79/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7352
Epoch 80/125
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7360
Epoch 81/125
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7356
Epoch 82/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7362
Epoch 83/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7355
Epoch 84/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7358
Epoch 85/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7359
Epoch 86/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7356
Epoch 87/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7350
Epoch 88/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7364
Epoch 89/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7345
Epoch 90/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7357
Epoch 91/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7363
Epoch 92/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7363
Epoch 93/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7346
Epoch 94/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7355
Epoch 95/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7357
Epoch 96/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7352
Epoch 97/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7357
Epoch 98/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7357
Epoch 99/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7364
Epoch 100/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 101/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7364
Epoch 102/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7368
Epoch 103/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7358
Epoch 104/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7357
Epoch 105/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 106/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 107/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 108/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7368
Epoch 109/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7364
Epoch 110/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7363
Epoch 111/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7357
Epoch 112/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7358
Epoch 113/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7356
Epoch 114/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7355
Epoch 115/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7365
Epoch 116/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7367
Epoch 117/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7363
Epoch 118/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7360
Epoch 119/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7368
Epoch 120/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7365
Epoch 121/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7364
Epoch 122/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7369
Epoch 123/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7369
Epoch 124/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7367
Epoch 125/125
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7372

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5698 - accuracy: 0.7264 - 417ms/epoch - 2ms/step
Loss: 0.569763720035553, Accuracy: 0.7264139652252197

In [48]:
# Create a DataFrame containing training history
history_df = pd.DataFrame(fit_model.history)

In [50]:
# Export our model to HDF5 file
nn.save('HDF5/AlphabetSoupCharity.h5')

## Step 3: Optimize Model
Using my knowledge of TensorFlow, I will optimize the model to achieve a target predictive accuracy higher than 75%. I will use any or all of the following methods to optimize my model:
1. Adjust the input data to ensure that no variables or outliers are causing confusion in the model, such as:

  *   Dropping more or fewer columns
  *   Creating more bins for rare occurrences in columns
  *   Increasing or decreasing the number of values for each bin
2. Add more neurons to a hidden layer
3. Add more hidden layers
4. Use different activation functions for the hidden layers
5. Add or reduce the number of epochs to the training regimen