# Step 3 - Second Part
Preprocess the dataset done in previous steps. Adjust for any modifications that came out of
optimizing the model. Design a neural network model and adjust for modifications that came 
out of optimizing the model.

Run this in Google Colab

## Preprocessing

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
# Import and read in the csv file to a Pandas DataFrame
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
new_application_df = application_df.drop(columns=["EIN", "NAME"])
new_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
unique_values = new_application_df.nunique(axis=0)
unique_values.head()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
ORGANIZATION         4
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning - getting the columns you need and grouping the rest to like other. 
app_values = new_application_df.value_counts(["APPLICATION_TYPE"])
app_values

APPLICATION_TYPE
T3                  27037
T4                   1542
T6                   1216
T5                   1173
T19                  1065
T8                    737
T7                    725
T10                   528
T9                    156
T13                    66
T12                    27
T2                     16
T14                     3
T25                     3
T29                     2
T15                     2
T17                     1
dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# Use the variable name `application_types_to_replace`
application_types_to_replace = list(app_values[app_values < 300].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app,"Other")

# Check to make sure binning was successful
application_df["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_value = new_application_df.value_counts(["CLASSIFICATION"])
class_value.head(20)

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
C7000               777
C1700               287
C4000               194
C5000               116
C1270               114
C2700               104
C2800                95
C7100                75
C1300                58
C1280                50
C1230                36
C1400                34
C2300                32
C7200                32
C1240                30
dtype: int64

In [8]:
# Look at CLASSIFICATION value counts >1
class_value[class_value>1]

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
C7000               777
C1700               287
C4000               194
C5000               116
C1270               114
C2700               104
C2800                95
C7100                75
C1300                58
C1280                50
C1230                36
C1400                34
C2300                32
C7200                32
C1240                30
C8000                20
C7120                18
C1500                16
C1800                15
C6000                15
C1250                14
C8200                11
C1278                10
C1238                10
C1235                 9
C1237                 9
C7210                 7
C1720                 6
C4100                 6
C2400                 6
C1600                 5
C1257                 5
C2710                 3
C1260                 3
C0                    3
C1267                 2
C1246                 2
C1256                 2
C3200                 2
C1234                 2
dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_value[class_value < 300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
x_dummies = pd.get_dummies(new_application_df)
print(x_dummies.columns)

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T12', 'APPLICATION_TYPE_T13', 'APPLICATION_TYPE_T14',
       'APPLICATION_TYPE_T15', 'APPLICATION_TYPE_T17', 'APPLICATION_TYPE_T19',
       ...
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object', length=117)

In [11]:
# Split our preprocessed data into our features and target arrays 
y = x_dummies["IS_SUCCESSFUL"].values
X = x_dummies.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_features = len(X_train[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 7)                 819

 dense_4 (Dense)             (None, 5)                 40

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 865
Trainable params: 865
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6131 - accuracy: 0.6996
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5549 - accuracy: 0.7305
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7314
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7316
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7327
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7318
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7326
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7321
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7336
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7331
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7329
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7339
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7337
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7330
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7342
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7336
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7335
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7339
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7341
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7345
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7340
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7347
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7343
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7354
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7348
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7353
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7355
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7355
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7357
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7352
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7355
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7355
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7354
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7350
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7356
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7355
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7356
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7360
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7361
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7357
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7364
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7361
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7365
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7359
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7355
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7360
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7363
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7357
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7363
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7358
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7367
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7369
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7364
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7361
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7358
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7370
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7366
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7361
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7364
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7367
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7364
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7358
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7360
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7363
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7362
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7361
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7370
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7358
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7365
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7362
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7360
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7360
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7367
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7364
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7362
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7363
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7363
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7367
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7368
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7359
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7365
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7369
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7368
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7364
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7365
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7357
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7362
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7371

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5594 - accuracy: 0.7237 - 445ms/epoch - 2ms/step
Loss: 0.5593581199645996, Accuracy: 0.7237317562103271

In [18]:
# Create a DataFrame containing training history
history_df = pd.DataFrame(fit_model.history)

In [19]:
# Export our model to HDF5 file
nn.save('HDF5/AlphabetSoupCharity_Optimization.h5')