## Preprocessing

Run this in Google Colab, not VS Code as TensorFlow is not installed

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
new_application_df = application_df.drop(columns=["EIN", "NAME"])
new_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_values = new_application_df.nunique(axis=0)
unique_values.head()

APPLICATION_TYPE    17
AFFILIATION          6
CLASSIFICATION      71
USE_CASE             5
ORGANIZATION         4
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning - getting the columns you need and grouping the rest to like other. 
app_values = new_application_df.value_counts(["APPLICATION_TYPE"])
app_values

APPLICATION_TYPE
T3                  27037
T4                   1542
T6                   1216
T5                   1173
T19                  1065
T8                    737
T7                    725
T10                   528
T9                    156
T13                    66
T12                    27
T2                     16
T14                     3
T25                     3
T29                     2
T15                     2
T17                     1
dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# Use the variable name `application_types_to_replace`
application_types_to_replace = list(app_values[app_values < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].replace(app,"Other")

# Check to make sure binning was successful
application_df["APPLICATION_TYPE"].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_value = new_application_df.value_counts(["CLASSIFICATION"])
class_value.head(20)

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
C7000               777
C1700               287
C4000               194
C5000               116
C1270               114
C2700               104
C2800                95
C7100                75
C1300                58
C1280                50
C1230                36
C1400                34
C2300                32
C7200                32
C1240                30
dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_value[class_value < 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df["CLASSIFICATION"] = application_df["CLASSIFICATION"].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
x_dummies = pd.get_dummies(new_application_df)
print(x_dummies.columns)

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T12', 'APPLICATION_TYPE_T13', 'APPLICATION_TYPE_T14',
       'APPLICATION_TYPE_T15', 'APPLICATION_TYPE_T17', 'APPLICATION_TYPE_T19',
       ...
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object', length=117)

In [9]:
# Split our preprocessed data into our features and target arrays 
y = x_dummies["IS_SUCCESSFUL"].values
X = x_dummies.drop(["IS_SUCCESSFUL"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [39]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_features = len(X_train[1])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 8)                 936

 dense_19 (Dense)            (None, 5)                 45

 dense_20 (Dense)            (None, 1)                 6

=================================================================
Total params: 987
Trainable params: 987
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6184 - accuracy: 0.6862
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5704 - accuracy: 0.7121
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7238
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7261
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7272
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7268
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7315
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7332
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7338
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7341
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7339
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7346
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7345
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7346
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7337
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7345
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7346
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7355
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7348
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7345
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7348
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7349
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7354
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7346
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7348
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7350
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7347
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7365
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7352
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7353
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7354
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7354
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7371
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7365
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7358
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7367
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7371
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7362
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7360
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7365
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7372
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7365
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7369
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7371
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7374
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7372
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7376
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7368
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7375
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7379
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7373
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7379
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7378
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7369
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7378
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7376
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7373
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7383
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7372
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7381
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7378
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7379
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7384
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7385
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7381
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7381
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7383
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7379
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7383
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7378
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7372
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7386
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7379
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7387
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7378
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7385
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7387
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7380
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7382
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7381
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7378
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7383
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7386
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7386
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7391
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7387
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7381
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7386
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7380
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7385
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7384
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7384

In [42]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5612 - accuracy: 0.7289 - 398ms/epoch - 1ms/step
Loss: 0.5611780881881714, Accuracy: 0.728863000869751

In [ ]:
# Create a DataFrame containing training history
history_df = pd.DataFrame(fit_model.history)

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('HDF5/AlphabetSoupCharity.h5')

# How to save a model

# nn.save('./mymodel.sav')
# new_model = tf.keras.models.load_model('./mymodel.sav')

# # Check its architecture
# new_model.summary()

In [ ]:
# Found this code online on how to export a model to HDF5 file
# import h5py
# import numpy as np

# # Export the pandas DataFrame into HDF5
# h5File = "fromdf.h5";
# df.to_hdf(h5File, "/data/d1");

 
# # Use pandas again to read data from the hdf5 file to the pandas DataFrame
# df1 = pds.read_hdf(h5File, "/data/d1");
# print("DataFrame read from the HDF5 file through pandas:");
# print(df1);

## Step 3: Optimize Model
Using my knowledge of TensorFlow, I will optimize the model to achieve a target predictive accuracy higher than 75%. I will use any or all of the following methods to optimize my model:
1. Adjust the input data to ensure that no variables or outliers are causing confusion in the model, such as:

  *   Dropping more or fewer columns
  *   Creating more bins for rare occurrences in columns
  *   Increasing or decreasing the number of values for each bin
2. Add more neurons to a hidden layer
3. Add more hidden layers
4. Use different activation functions for the hidden layers
5. Add or reduce the number of epochs to the training regimen